@import url('https://fonts.googleapis.com/css?family=Lora|Raleway:800,900|Roboto+Condensed:400,700&display=swap');


html {
    scroll-behavior: smooth;
    /* crates atopmatic smooth scroll to desired page*/
}



body {

    color: dimgray;
    background-color: beige;
    background-size: cover;
    font-family: 'Roboto Condensed: 400', sans-serif;
    font-size: 100%;
    /*    set default text size to 100%, adjust parra and headings using Ems further down*/
    letter-spacing: 0.1em;
}

nav {
    margin: 5px;

}

header {
    font-size: 1.3em;
    background-color: beige;
    padding: 10px 40px 10px 10px;
}

/*Typography*/
p {
    font-size: 1.2em;
    line-height: 2;
    margin-bottom: 25px;
    text-align: justify;

}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1em;
}

h1 {
    font-size: 5.5em;
    padding-top: 4em;
    /*    I like how "CHURCHILL HOUSE"breaks the image into two*/
}

h2 {
    padding-top: 1em;
    color: darkslategray;
    font-size: 2em;

}

li {
    line-height: 2;
}

.leftside,
.rightside {
    width: 40%;
}


.rightside {
    float: right;
    display: inline-block;
    padding-right: 4em;

}

.leftside {
    float: left;
    display: inline-block;
    padding-left: 4em;
}

.wrapper {
    width: 1200px;
    margin: 20px auto;
}

#nav1 {
    display: inline-block;
    /*    Makes my Robin Boyd link line up with the links on the left*/
    text-decoration: none;

}

#nav1 ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: lightslategray;
}



#nav1 ul li {
    display: inline;

}

#nav1 ul li ul li {}

#nav1 ul li a:hover {
    color: darkslategray;

}

#nav2 {
    float: right;
    padding-right: 20px;
}

#nav2 ul li a {
    text-decoration: none;
    color: lightslategray;

}

#nav2 ul li a:hover {
    color: darkslategray;


}





/*         CONTENT          */






#Homepage {
    background-image: url(../images/churchill-house-homepage.png);
    /*    set image as background to have website title over the top*/
    background-size: cover;
    height: 1000px;

    color: darkslategray;
    text-align: left;
}



#Description {
    background-color: beige;
    text-align: right;
    overflow: auto;

}

#Description p {
    float: right;
    width: 500px;


}

#Description img {
    margin-top: 250px;
}

#History {
    overflow: auto;
    background-color: bisque;
}

#History ul li {
    list-style-type: none;
    color: brown;
    margin-bottom: 1.25em;
}

#Introduction {
    background-color: antiquewhite;
    overflow: auto;
}

/*Introduction page is not split so requires unique text positioning for the content to flow*/

#Introduction h2 {
    padding-left: 1.8em;
    padding-top: 1.5em;
}

#Introduction p {
    padding-left: 3em;
    padding-right: 3em;
}

#Significance {
    overflow: auto;
}

#Significance ul li {
    list-style-type: none;
    color: brown;
    margin-bottom: 1.25em;

}

#Robin-Boyd-1919-1971 {
    background-color: antiquewhite;
    text-align: right;
    overflow: auto;

}


/*Robin Boyd page is not split so requires unique text positioning for the content to flow*/

#Robin-Boyd-1919-1971 h2 {
    padding-right: 1.8em;
}


#Robin-Boyd-1919-1971 p {
    padding-left: 3em;
    padding-right: 3em;

}



footer {
    background-color: black;
    color: antiquewhite;
    height: 35em;
    overflow-y: hidden;

}

footer a {
    color: antiquewhite;
    text-decoration: none;
    line-height: 2em;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;

}

footer a:hover {
    color: brown;
    text-decoration: none;
}

footer p {
    text-align: left;
    padding-top: 8em;
}






/*         IMAGES          */






img {
    height: auto;
    border: 5px solid darkslategray;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    max-width: 1200px;


}


.leftimg {
    margin-left: 2.5em;
    float: left;
    width: 40%;


}

.rightimg {
    margin-right: 2.5em;
    float: right;
    width: 40%;

}


#introimg1,
#introimg2 {
    width: 1190px;
    height: 665px;
    /*    adjusting for the 5px border*/
}

#introimg1 {
    margin-bottom: -4px;
}

#introimg2 {
    margin-top: -4px;
}

/*both images in Introduction now join*/

#History img {
    height: 270px;
    width: 550px;

}


footer img {
    border: none;
    width: 2em;
    height: auto;
    float: right;
    margin-right: 0.5em;
    margin-top: 0.5em;

}

footer img:hover {
    transform: scale(1.25);
    /*     125% zoom when hovering over link*/
}


#caption {
    position: relative;
    width: 100%;
}

h3 {
    position: absolute;
    top: 420px;
    width: 100%;
    text-align: left;
    margin-left: 310px;
    font-family: 'Raleway', sans-serif;
    color: darkslategray;
    width: 890px;
    /*    width = 1200-310(margin-left)*/
}

/*this is the solution I came up with getting the photo credits underneath the photo */

/* RESPONSIVE COMPONENT*/



/*phones*/

@media screen and (max-device-width: 425px) {
    .wrapper {
        width: 100%;
        height: auto;
        margin: 0;
        /*        got rid of the margins on the top and bottom of the pages. flows alot better on smaller screen*/
    }

    h1 {
        font-size: 4.5em;
        padding-left: 20px;
    }



    #Description {
        text-align: center;
    }

    #Description h2 {
        font-size: 50px;
    }

    #Description img {
        width: 100%;
        height: auto;
        margin: 0;
        border: none;
        /* looks better without border*/
    }

    #Description .rightside {
        width: 100%;
        height: auto;
        padding: 0;
    }

    #Description p {
        width: 90%;
        margin-right: 5%;
        font-size: 19.2px;
    }

    #History h2 {
        font-size: 50px;
        padding-top: 80px
    }

    #History img {
        width: 99%;
        /*        99% to allow for border*/
        height: auto;
        margin: 0;
    }

    #History .rightside {
        padding-top: 60px;
    }

    #Introduction {
        text-align: center;
    }

    #Introduction h2 {
        font-size: 50px;
        padding: 50px 0 50px 0;
    }

    #Introduction img {
        width: 99%;
        /*        99% to allow for border*/
        height: auto;
        margin-top: 0;

    }

    #Robin-Boyd-1919-1971 img {}
}

/*    Tablets   img {} */
@media screen and (max-device-width: 768px) and (min-device-width: 425px) {
    .wrapper {
        width: 100%;
        height: auto;
        margin: 0;
    }


}
