@import url('https://fonts.googleapis.com/css?family=Lora|Raleway:800,900|Roboto+Condensed:400,700&display=swap');

html {
    scroll-behavior: smooth;

    /*    crates  atopmatic smooth scroll to desired page*/

}

body {
    color: dimgray;
    background-color: beige;
    background-size: cover;
    font-family: 'Roboto Condensed: 400', sans-serif;
    font-size: 100%;
    /*    set default text size to 100%, adjust parra and headings using Ems further down*/
    letter-spacing: 0.1em;

}

nav {
    margin: 5px;

}

header {
    font-size: 1.25em;
    background-color: beige;
    padding: 10px;



}



/*Typography*/
p {
    font-size: 1.2em;
    line-height: 2;
    margin-bottom: 25px;
    text-align: justify;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    font-size: 5.5em;
    padding-top: 4em;
    /*  I like how "CHURCHILL HOUSE" breaks the image into two  */
}

h2 {
    color: darkslategray;
    font-size: 2em;

}

li {
    line-height: 2;
}

#leftside,
#rightside {

    width: 50%;
    padding-left: 4em;
    padding-right: 4em;
}


#rightside {
    float: right;

}

#leftside {
    float: left;
}

#wrapper {
    width: 1200px;
    margin: 20px auto;
}

#nav1 {
    display: inline-block;
    text-decoration: none;

}

#nav1 ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: lightslategray;
}



#nav1 ul li {
    display: inline;

}

#nav1 ul li ul li {}

#nav1 ul li a:hover {
    color: darkslategray;

}

#nav2 {
    float: right;
    ;
}

#nav2 ul li a {
    text-decoration: none;
    color: lightslategray;

}

#nav2 ul li a:hover {
    color: darkslategray;


}

#Homepage {
    background-image: url(../images/churchill-house-homepage.png);
    /*    set image as background to have website title over the top*/
    background-size: cover;
    height: 1000px;

    color: darkslategray;
    text-align: left;
}



#Description {
    background-color: azure;
    text-align: right;
    overflow: auto;
}

#Description img {
    margin-top: 250px;
}

#History {
    overflow: auto;


}

#Introduction {
    background-color: antiquewhite;
    overflow: auto;
}

#Significance {
    overflow: auto;
}

#Significance ul li {
    list-style: circle;

}



#Robin-Boyd-1919-1971 {
    background-color: floralwhite;
    text-align: right;
    overflow: auto;
}

footer {
    background-color: black;
    color: antiquewhite;
}

img {
    max-width: 100%;
    height: auto;
    border: 0.313em solid darkslategray;
    margin: 40px;
}


#leftimg {
    float: left;
    width: 40%;

}

#rightimg {
    float: right;
    width: 40%;

}


#introimg {
    width: 100%;
    margin: -4px;


}
